<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="12"> 
        <div class="clearfix">
          <section class="page_404">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-md-12 col-sm-offset-1 text-center">
                    <div class="four_zero_four_bg">
                      <h1 class="text-center">404</h1>
                    </div>
          
                    <div class="contant_box_404">
                      <h3 class="h2">Look like you're Lost!!!</h3>
          
                      <p>The page you are looking for not Available!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
