<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a>
          Hi, <span class="fw-bold"> {{ user_fullName }} </span>
        </a>
      </c-nav-item>

    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex ms-auto">
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>

      <!-- <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilList" size="lg"></svg>
        </a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item> -->

    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<!-- Side User Menu -->
<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">

    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">

      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/8.jpg"
        status="success"
      >
      </c-avatar>
    </button>

    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>

      <li>
        <hr cDropdownDivider/>
      </li>

      <li>
        <div *ngIf="user_role == 1">
          <!-- <button type="button" class="btn btn-info px-4" data-bs-toggle="modal" data-bs-target="#loginModal">
            Registration Now
          </button> -->
          <a [routerLink]="[]" (click)="showModal()" cDropdownItem>
            <svg cIcon class="me-2" name="cilPlus"></svg>
            Add New User
          </a>
        </div>

        <a cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Lock Account
        </a>
        <a [routerLink]="[]" (click)="logOut()" cDropdownItem>
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<!-- Modal -->

<div class="modal" id="loginModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Registration Form</h5>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" novalidate (ngSubmit)="registerFormSubmit()" class="row g-3">
          <div class="col-md-4">
            <label for="id_userLevel" class="form-label">User Role: </label>
            <select class="form-control" cSelect id="id_userLevel" id="id_userLevel" (change)="onRoleChange($event)">
              <option *ngFor="let role of role_type; index as i" [value]="role.role_id">
                {{ role.role_name }}
              </option>
            </select>
          </div>
          <div class="col-md-8">
            <label for="id_email" class="form-label">Email address: </label>
            <input formControlName="email" [class.is-invalid]="email.touched && email.invalid" type="email"
              class="form-control" id="id_email">
            <div *ngIf="email.invalid && email.touched">
              <div *ngIf="email.errors?.required" class="d-block invalid-feedback">Please
                provide a Email.</div>
              <div *ngIf="email.errors?.email" class="d-block invalid-feedback">Email address is not valid</div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="id_firstName" class="form-label">First name: </label>
            <input formControlName="firstName" type="text" class="form-control" id="id_firstName" required>
            <div *ngIf="firstName.touched && firstName.errors?.required" class="d-block invalid-feedback">Provide your First Name.</div>
          </div>
          <div class="col-md-4">
            <label for="id_middlename" class="form-label">Middle Name: </label>
            <input formControlName="middlename" type="text" class="form-control" id="id_middlename" required>
            <div *ngIf="middlename.touched && middlename.errors?.required" class="d-block invalid-feedback">Provide your Middle Name.</div>
          </div>
          <div class="col-md-4">
            <label for="id_lastName" class="form-label">Last name: </label>
            <input type="text" class="form-control" formControlName="lastName" id="id_lastName" required>
            <div *ngIf="lastName.touched && lastName.errors?.required" class="d-block invalid-feedback">Provide your Last Name.</div>
          </div>

          <div class="col-md-4">
            <label for="id_username" class="form-label">Username: </label>
            <input formControlName="username" [class.is-invalid]="username.touched && username.invalid"
              type="text" class="form-control" id="id_username">
            <div *ngIf="username.touched && username.errors?.required" class="d-block invalid-feedback">Provide your Username.</div>
          </div>

          <div class="col-md-4">
            <label for="id_password" class="form-label">Password: </label>
            <input type="password" formControlName="password" [class.is-invalid]="password.touched && password.invalid"
              class="form-control" id="password" required>
              <div *ngIf="password.touched && password.errors?.required" class="d-block invalid-feedback">Provide your Password.</div>
          </div>

          <div class="col-md-6 mt-4">
            <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary px-5">Submit</button>
            <button type="button" (click)="closeModal()" class="btn btn-secondary px-3 ms-2">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>