<c-row>
  
  <!-- Sales Col Widget -->
  <c-col sm="6" xl="4">
    <c-widget-stat-a class="mb-4" color="dark" title="Sales Widget">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        26K
        <span class="fs-6 fw-normal">
          (-12.4% <svg cIcon name="cilArrowBottom"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="/sales" cDropdownItem>Go To Sales Dashboard</a></li>
            <li><a routerLink="./" cDropdownItem>Go To Sales Reports</a></li>
            <!-- <li>
              <hr cDropdownDivider>
            </li>
            <li>
              <button cDropdownItem>Separated link</button>
            </li> -->
          </ul>
        </c-dropdown>
      </ng-template>

      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[0]" class="mt-3 mx-3" height="70" type="line"></c-chart>
      </ng-template>

    </c-widget-stat-a>
  </c-col>
<!-- End Sales Col Widget -->

<!-- Purchases Col Widget -->
  <c-col sm="6" xl="4">
    <c-widget-stat-a [title]="'Puchases Widget'" class="mb-4" color="dark">

      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>$6.200</span>
        <span class="fs-6 fw-normal">
          (40.9% <svg cIcon name="cilArrowTop"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="/purchases" cDropdownItem>Go To Purchases Dashboard</a></li>
            <li><a routerLink="./" cDropdownItem>Go To Purchases Report</a></li>
          </ul>
        </c-dropdown>

      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]" [options]="options[1]" class="mt-3 mx-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <!-- End Purchases Col Widget -->

  <!-- Inventory Col Widget -->
  <c-col sm="6" xl="4">
    <c-widget-stat-a [title]="'Inventory Widget'" class="mb-4" color="dark">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>2.49</span>
        <span class="fs-6 fw-normal">
          (84.7% <svg cIcon name="cilArrowTop"></svg>)
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="./" cDropdownItem>Go To Inventory Dashboard</a></li>
            <li><a routerLink="./" cDropdownItem>Go To Inventory Reports</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-3" height="70" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
<!--End Inventory Col Widget -->

</c-row>
