<!-- <app-widgets-dropdown></app-widgets-dropdown> -->
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Sales Summary
        </h4>
        <div class="small text-medium-emphasis">{{ subTitle }}</div>
      </c-col>
      
      <c-col class="d-none d-md-block" sm="7">

        <c-dropdown class="float-end" variant="btn-group">
          <button cButton color="dark" variant="outline" size="sm">
            {{ selectedFilter == '' ? 'Select Filter Type: ' : 'Selected Filter: ' }}
          </button>
          <button cButton cDropdownToggle color="dark" variant="outline" size="sm" split>
            {{ selectedFilter == '' ? 'None' : selectedFilter }}
          </button>
          
          <ul cDropdownMenu onselect='SelectedType()'>
            <li>
              <button *ngFor="let type of type; index as i" 
                (click)="setTrafficPeriod(type.variation)" 
              cDropdownItem>
                {{ type.variation }}
              </button>
            </li>
          </ul>

        </c-dropdown>

      </c-col>

    </c-row>

    <div *ngIf="selectedFilter == 'Year'">
      <c-row class="float-end mt-1">
        <c-dropdown variant="btn-group">
          <button cButton color="dark" size="sm">
            Selected Year:
          </button>
          <button cButton cDropdownToggle color="dark" size="sm" split>
            {{ selectedYear == 0 ? 'None' : selectedYear }}
          </button>
          
          <ul cDropdownMenu onselect="SelectedYear()">
            <li>
              <button *ngFor="let year of year_range(); index as i" 
                (click)="setTrafficPeriod(selectedFilter, year)" 
              cDropdownItem>
                {{ year }}
              </button>
            </li>
          </ul>
        </c-dropdown>
      </c-row>
    </div>

    <div *ngIf="selectedFilter == 'Day'">
      <c-row class="float-end mt-1">
        <c-col>
          <mat-form-field>
            <input matInput [matDatepicker]="picker_1" placeholder="Date From:" 
              (dateChange)="DateFromChange($event)"
            disabled>
            <mat-datepicker-toggle matSuffix [for]="picker_1"></mat-datepicker-toggle>
            <mat-datepicker #picker_1 disabled="false"></mat-datepicker>
          </mat-form-field>
        </c-col>
  
        <c-col>
          <mat-form-field >
            <input matInput [matDatepicker]="picker_2" placeholder="Date To:" 
              (dateChange)="setTrafficPeriod(selectedFilter, selectedYear, $event)"
            disabled>
            <mat-datepicker-toggle matSuffix [for]="picker_2">
            </mat-datepicker-toggle>
            <mat-datepicker #picker_2 disabled="false"></mat-datepicker>
          </mat-form-field>
        </c-col>
      </c-row>
    </div>

    <c-chart [data]="mainChart.data"
             [height]="300"
             [ngStyle]="{'marginTop.px': 55}"
             [options]="mainChart.options"
             [type]="mainChart.type">
      Main chart
    </c-chart>
  </c-card-body>

</c-card>
  